*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/agent/build
/app/build

# Android SDK (installed locally)
/build-tools
/licenses
/platform-tools
/platforms
/cmdline-tools
